@use "../utils/variables" as var;
@use "../utils/functions" as fn;
@use "../utils/placeholders";
@use "../utils/mixins" as mx;

$trade-statuses: (
  "up": "upgrade",
  "down": "downfall",
);

.prices-container {
  @extend %container-frame;
  text-align: center;
}
.prices-title {
  @extend %section-title;
  font-family: fn.get-font("second-family"), sans-serif;
  margin-bottom: 30px;

  @include mx.mq("md") {
    margin-bottom: 60px;
  }

  @include mx.mq("md", max) {
    font-size: 20px;
  }
}
.prices-table {
  width: 100%;
  border-collapse: collapse;
  font-family: fn.get-font("main-family"), sans-serif;

  th {
    @extend %main-table;
    padding-bottom: 20px;
    position: relative;

    @include mx.mq("md") {
      border-top: 1px solid fn.get-color("details");
      padding: 8px 0 20px 0;
    }

    &:nth-child(2) {
      text-align: left;
    }

    &:nth-child(7) {
      text-align: right;
    }

    .symbol-container {
      @include mx.mq("lg") {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
      }

      .arrow {
        fill: fn.get-color("primary-white");
      }
    }
    .market-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .info {
        fill: fn.get-color("current");
      }
    }
  }

  tr {
    border-bottom: 1px solid fn.get-color("details");
  }

  td {
    padding: 20px 0 10px 0;
    @include mx.mq("md") {
      padding: 25px 0;
    }

    &:nth-child(2) {
      display: flex;
    }

    .crypto-name {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;

      .table-crypto-name {
        @extend %card-article;
        font-family: fn.get-font("third-family"), sans-serif;

        & span {
          @extend %accent-details;
          color: fn.get-color("details");
          margin-left: 5px;
        }
      }
    }

    .numer-container {
      @extend %table-description;
      display: flex;
      align-items: center;
      gap: 12px;

      & p {
        color: fn.get-color("details");
      }

      .star {
        stroke: fn.get-color("tetriatry-gray");
      }
    }

    .table-content {
      @extend %main-table;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;

      .table-details {
        @extend %table-subtext;
        color: fn.get-color("details");
      }
    }

    .trade-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
    }

    .up,
    .down {
      opacity: 0;
    }

    @each $key, $value in $trade-statuses {
      .trade-container[data-status="#{$key}"] .trade-arrow .#{$key} {
        opacity: 1;
        fill: fn.get-color("#{$value}");
      }
      .trade-container[data-status="#{$key}"] .trade-value {
        color: fn.get-color("#{$value}");
      }
    }

    .table-diagram {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      color: fn.get-color("primary-white");
      .chart-up {
        stroke: fn.get-color("upgrade");
      }
      .chart-down {
        stroke: fn.get-color("downfall");
      }

      .dots {
        fill: fn.get-color("current");
      }
    }
  }

  .hide-mobile {
    @include mx.mq("lg", max) {
      display: none;
    }
  }
}
